<!-- <style>
    #notification-container {
        position: fixed;
        top: 5px;
        right: 5px;
        background: lightskyblue;
        width: 293px;
        height: 27px;
        border-radius: 10px;
        display: none;
        padding: 0px 15px;
        z-index: 6;
    }
</style> -->


<div class="navbar navbar-light" style="background-color: #e3f2fd;">
    <p>
    <h3>CSV File to Table Parser</h3>
    </p>
    <div id="notification-container">
        pls wait
    </div>
</div>