th {
    color: #fff;
}


#table-header-id {
    position: sticky;
    top: 0;
    background-color: navajowhite;
}
i:hover{
transform: scale(1.3);
cursor: pointer
}
.tableSearchForm{
width: 60%;
margin:auto;
}
.tableSearchBtn{
margin-left: 3px;

}